body {
    font-family: Times New Roman, sans-serif;
    margin: 0;
    padding: 0;
    background-color: orange;
    color: black;
}

header {
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#map {
    height: 600px;
    width: 100%;
    margin-bottom: 20px;
}

.contact-info {
    margin-top: 20px;
    text-align: center;
}


